.sidebar {
    width: 250px;
    height: 100%;
    background-color: #115D5A;
    color: white;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
}

.sidebar-header {
    margin-bottom: 30px;
    font-size: 1.5rem;
    text-align: center;
    color: white;
}

.nav {
    list-style-type: none;
    padding-left: 0;
}

a.nav-link {
    cursor: pointer;
    text-decoration: none;
    color: #ffffff;
}

a.nav-link:hover {
    text-decoration: underline;
}

.btn-outline-success {
    background-color: #115D5A;
    color: #ffffff;
    border-color: #ffffff;
    transition: background-color 0.2s ease;
}

.btn-outline-success:hover {
    background-color: #ffffff;
    color: #115D5A;
}