<div class="container">
    <!-- Hero Section -->
    <div class="hero-section">
        <div class="hero-image" [style.backgroundImage]="'url(' + eventsContent.heroImage + ')'"></div>
        <div class="hero-content container text-center text-white">
            <h1 class="display-1 fw-bold">{{ eventsContent.heroTitle }}</h1>
        </div>
    </div>

    <!-- Events Section -->
    <div class="events-section">
        <!-- Cards -->
        <div class="container-fluid py-5">
            <div class="row justify-content-center g-4">
                <!-- Dinamic Event Cards -->
                <div *ngFor="let card of eventsContent.cards" class="col-md-4">
                    <div class="card h-100 shadow-sm border-0 bg-light">
                        <!-- Event Card Image -->
                        <img [src]="card.imageCard" class="card-img-top" alt="Event Image"
                            style="height: 200px; object-fit: cover;">
                        <div class="card-body">
                            <!-- Event Title -->
                            <h5 class="card-title" style="color: #115D5A;">{{ card.titleCard }}</h5>
                            <!-- Event Description -->
                            <p class="card-text text-dark">
                                {{ card.descriptionCard }}
                            </p>
                            <!-- Event Date -->
                            <p class="card-text text-muted">
                                <strong>Date:</strong> {{ card.date | date:'longDate' }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
