<!-- Hero Section -->
<div class="hero-section">
    <div class="hero-image" [style.backgroundImage]="'url(' + newsContent.heroImage + ')'"></div>
    <div class="hero-content container text-center text-white">
        <h1 class="display-1 fw-bold">{{ newsContent.heroTitle }}</h1>
    </div>
</div>

<div class="container">
    <!-- News Section -->
    <div class="news-section">
        <!-- Cards -->
        <div class="container-fluid py-5">
            <div class="row justify-content-center g-4">
                <!-- Dinamic News Cards -->
                <div *ngFor="let card of newsContent.cards" class="col-md-4">
                    <div class="card h-100 shadow-sm border-0 bg-light">
                        <!-- News Card Image -->
                        <img [src]="card.imageCard" class="card-img-top" alt="News Image"
                            style="height: 200px; object-fit: cover;">
                        <div class="card-body">
                            <!-- News Title -->
                            <h5 class="card-title" style="color: #115D5A;">{{ card.titleCard }}</h5>
                            <!-- News Description -->
                            <p class="card-text text-dark">
                                {{ card.descriptionCard }}
                            </p>
                            <!-- News Date -->
                            <p class="card-text text-muted">
                                <strong>Date:</strong> {{ card.date | date:'longDate' }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
