<div class="container">
    <div class="container py-5 d-flex justify-content-center">
        <div class="card shadow-lg p-4 rounded-4" style="max-width: 700px; width: 100%;">
            <h2 class="mb-4 text-center">Register</h2>
            <form [FormGroup]="signUpForm">
                <div class="row g-3">
                    <div class="col-md-6">
                        <label for="firstName" class="form-label">First Name</label>
                        <input formControlName="firstName" type="text" class="form-control rounded-3" id="firstName" placeholder="First Name">
                    </div>
                </div>
                <small *ngIf="SignUpForm.controls['firstName'].dirty && signUpForm.hasError('reqired', 'firstName')" class="text-danger">*First name is required</small>
                    <div class="col-md-6">
                        <label for="lastName" class="form-label">Last Name</label>
                        <input formControlName="lastName" type="text" class="form-control rounded-3" id="lastName" placeholder="Last Name">
                    </div>
                    <small *ngIf="SignUpForm.controls['lastName'].dirty && signUpForm.hasError('reqired', 'lastName')" class="text-danger">*Last name is required</small>
                    <div class="col-md-6">
                        <label for="inputEmail4" class="form-label">Email</label>
                        <input formControlName="email"type="email" class="form-control rounded-3" id="inputEmail4" placeholder="Email">
                    </div>
                    <small *ngIf="SignUpForm.controls['email'].dirty && signUpForm.hasError('reqired', 'email')" class="text-danger">*email is required</small>
                    <div class="col-md-6">
                        <label for="inputPassword4" class="form-label">Password</label>
                        <input formControlName="password" type="password" class="form-control rounded-3" id="inputPassword4"
                            placeholder="Password">

                    </div>
                    <small *ngIf="SignUpForm.controls['password'].dirty && signUpForm.hasError('reqired', 'password')" class="text-danger">*Password is required</small>
                    <div class="col-12">
                        <label for="inputAddress" class="form-label">Address</label>
                        <input formControlName="address"type="text" class="form-control rounded-3" id="inputAddress" placeholder="1234 Main St">
                    </div>
                    <small *ngIf="SignUpForm.controls['address'].dirty && signUpForm.hasError('reqired', 'address')" class="text-danger">*Address is required</small>
                    <div class="col-md-6">
                        <label for="inputCity" class="form-label">City</label>
                        <input formControlName="city" type="text" class="form-control rounded-3" id="inputCity">
                    </div>
                    <small *ngIf="SignUpForm.controls['city'].dirty && signUpForm.hasError('reqired', 'city')" class="text-danger">*City is required</small>
                    <div class="col-md-6">
                        <label for="inputPC" class="form-label">Postal Code</label>
                        <input formControlName="postalCode" type="text" class="form-control rounded-3" id="inputPC">
                    </div>
                    <small *ngIf="SignUpForm.controls['postalCode'].dirty && signUpForm.hasError('reqired', 'postalCode')" class="text-danger">*Postal Code is required</small>
                    <div class="col-12">
                        <button type="submit" class="btn btn-success w-100 rounded-3 py-2 mt-3"(click)="onSignUp()">Sign Up</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>
